[Unit]
Description=Display Manager

[Service]
ExecStart=/usr/bin/lightdm
Restart=always
IgnoreSIGPIPE=no
BusName=org.freedesktop.DisplayManager

[Install]
Alias=displaymanager.service
WantedBy=graphical.target

